@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #050509;
  --bg-elevated: #0b0b11;
  --accent: #7ef0c4;
  --muted: #a1a1b5;
}

body {
  @apply text-neutral-50;
  background:
    radial-gradient(circle at top, #181832 0, #050509 48%),
    radial-gradient(circle at bottom, #050509 0, #020205 55%);
  color: #f5f5ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
